* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
}
body {
  background-color: #c1f4c5;
  font-family: "inter", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 4rem;
  color: #65c18c;
}
.header-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-input-con {
  margin-bottom: 5rem;
}
.select-con {
  margin: 4rem 0;
}
.episode-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-items {
  margin: 1rem;
  position: relative;
}
.list-items img {
  border-radius: 10px;
  margin: 2rem;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.list-items img:hover {
  transform: scale(1.1);
}
.list-items p {
  text-align: center;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #ff7ba9;
  font-weight: 500;
}

.list-items a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.list-items a:active {
  color: #ff7ba9;
}
.list-items a:hover {
  color: #fff;
}
.fa-circle-play {
  color: #ffbed8;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.fa-clock {
  color: #d8ae78;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.watch-link {
  display: none;
}

.img-sum {
  width: 260px;
  height: 200px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.img-sum:hover .episode-summery {
  opacity: 1;
  top: 0;
}
.episode-summery {
  position: absolute;
  top: 20%;
  width: 80%;
  opacity: 0;
  background-color: #ffbed8de;
  color: #000;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
  border-radius: 10px;
}
.is-hidden {
  display: none;
}
.select-con {
  overflow: hidden;
  position: relative;
}
#select-episode {
  background-color: #ff7878;
  font-size: large;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5rem 1.1rem;
  width: 20rem;
  color: #fff;
  cursor: pointer;
}
.select-con::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 0.7rem;
  transition: all 0.3s ease;
}

.select-con:hover::after {
  background-color: #fff;
  color: #ff7878;
}
/* search input */
.search-input-con {
  position: relative;
  overflow: hidden;
  top: 0;
  right: 0;
  color: #000;
  font-size: large;
}
.search-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  padding-left: 10px;
  color: rgb(104, 104, 104);
}
#search-input {
  background-color: #c1f4c5;
  font-size: 1rem;
  width: 20vw;
  padding: 0.8rem;
  padding-left: 3rem;
  transition: all 0.4s ease-in-out;
  border: 0.3px solid rgb(104, 104, 104);
  border-radius: 25px;
}
#search-input::placeholder {
  color: rgb(104, 104, 104);
}
